/Error.html
/ErrorCode.html
/ErrorMessage.html
/Repository.html
/RepositoryOwner.html
/RepositoryPatch.html
/RepositoryPermissions.html
/RepositoryProperties.html
/configure.html
/index.html
/method_createOrganizationRepository.html
/method_createRepository.html
/method_editRepository.html
/method_listAllPublicRepositories.html
/method_listOrganizationRepositories.html
/method_listRepositories.html
/method_listUserRepositories.html
