/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 51px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

@media screen and (min-width: 767px) {
  #sidebar {
      padding-left: 0px;
  }
}

.sidebar-nav {
    background-color:#fafafa;
}

.nav > .nav-header {
    padding: 8px 15px;
    background-color: #484949;
    color: #bababa;
    border-bottom:1px solid #565656;
    border-top:1px solid #565656;
    font-weight: bold;
}

.nav > li {
  background-color: #363636;
  border-bottom:1px solid #000;
}

.nav > li.active {
   background-color:#484848;
}

.sidebar-nav > .nav > li > a {
    color: #bababa;
    padding: 8px 15px;
}

.sidebar-nav > .nav > li > a:hover {
  background-color: #484848;
}

pre {
    border:0px;
    background-color:#fff;
    padding:0px;
}

.panel-body-heading {
    padding: 10px;
    background-color: #f9f9f9;
}

.panel-heading .panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .panel-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.btn-pull-down-handle {
    border-radius:0px;
}

.console {
    background-color:#efefef;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}

#go_button {
    padding-left:24px;
    padding-right:24px;
}

#consoleHeading {
    padding-top:12px;
    padding-bottom:12px;
}

.form-configure {
    padding-top:15px;
}
.form-configure > .form-group > .row {
    padding-left:15px;
}
.form-configure > .form-group > .row > .col-xs-4 {
    padding-left:1px;
    padding-right:1px;
}
.form-configure > .form-group > .row > .col-xs-2 {
    padding-left:1px;
    padding-right:1px;
}
.form-configure > .row > .col-xs-1 {
    padding-left:1px;
    padding-right:1px;
}