{
	"plugin":"org.specapi.plugins.docs.Plugin",
	"configurations":[
		{
			"name":"DOCS",
			"description":"Documentation Output Folder",
			"output_directory":"./doc-gen",
			"override_existing_resources":true,
			"create_output_directory":true,
			"clean_up_derived_resources":true,
			"set_derived_resources":true,
			"keep_local_history":true
		}
	]
}