{
	"plugin":"org.specapi.plugins.square.retrofit.Plugin",
	"outputs":[
		{
			"name":"RETROFIT",
			"description":"Retrofit Output Folder",
			"output_directory":"./retrofit-gen",
			"override_existing_resources":true,
			"create_output_directory":true,
			"clean_up_derived_resources":true,
			"set_derived_resources":true,
			"keep_local_history":true
		}
	]
}