{
	"plugin":"org.specapi.plugins.simple.Plugin",
	"outputs":[
		{
			"name":"SIMPLE",
			"description":"Simple Output Folder",
			"output_directory":"./simple-gen",
			"override_existing_resources":true,
			"create_output_directory":true,
			"clean_up_derived_resources":true,
			"set_derived_resources":true,
			"keep_local_history":true
		}
	]
}